<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BlogBack.mapper.ArticleMapper">
    <update id="updateArticleCategoryIdBatch">
        update article
        set category_id = #{NewCategoryId}
        where category_id = #{OldCategoryId}
    </update>
    <update id="updateById">
        update article
        <set>
            <if test="article.title != null and article.title != ''">
                title = #{article.title},
            </if>
            <if test="article.content != null and article.content != ''">
                content = #{article.content},
            </if>
            <if test="article.categoryId != null">
                category_id = #{article.categoryId},
            </if>
        </set>
        where id = #{id}
    </update>
    <resultMap id="ArticlePageQueryVO" type="BlogBack.pojo.vo.ArticleVO">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <collection property="tags" ofType="BlogBack.pojo.vo.TagVO">
            <id property="id" column="tag_id"/>
            <result property="name" column="tag_name"/>
        </collection>
    </resultMap>
    <select id="getArticlesWithCategoryAndTags" resultMap="ArticlePageQueryVO">
        select a.*,c.name as category_name,t.id as tag_id,t.name as tag_name
        from article a
            left join article_tag at on a.id = at.article_id
            left join tag t on at.tag_id = t.id
            left join category c on a.category_id = c.id
        <where>
            <if test="id != null">
                and a.id = #{id}
            </if>
            <if test="title != null and title != ''">
                and title like concat('%',#{title},'%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="tagId != null">
                and tag_id = #{tagId}
            </if>
        </where>
        order by a.create_time desc
    </select>
</mapper>