<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BlogBack.mapper.ArticleMapper">
    <update id="updateArticleCategoryIdBatch">
        update article
        set category_id = #{NewCategoryId}
        where category_id = #{OldCategoryId}
    </update>
    <update id="updateById">
        update article
        <set>
            <if test="article.title != null and article.title != ''">
                title = #{article.title},
            </if>
            <if test="article.content != null and article.content != ''">
                content = #{article.content},
            </if>
            <if test="article.categoryId != null">
                category_id = #{article.categoryId},
            </if>
            <if test="article.coverUrl != null">
                cover_url = #{article.coverUrl},
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="pageArticles" resultType="BlogBack.pojo.vo.ArticleVO">
        select a.id, a.title, a.content, a.category_id, c.name as categoryName,
        a.create_time as createTime, a.update_time as updateTime, a.cover_url as coverUrl
        from article a
        left join category c on a.category_id = c.id
        <where>
            <if test="id != null">
                and a.id = #{id}
            </if>
            <if test="keyword != null and keyword != ''">
                and (a.title like concat('%',#{keyword},'%') or a.content like concat('%',#{keyword},'%'))
            </if>
            <if test="title != null and title != ''">
                and a.title like concat('%',#{title},'%')
            </if>
            <if test="categoryId != null">
                and a.category_id = #{categoryId}
            </if>
            <if test="tagId != null">
                and a.id in (select article_id from article_tag where tag_id = #{tagId})
            </if>
        </where>
        order by a.create_time desc
    </select>
    <select id="getTagsByArticleIds" resultType="BlogBack.pojo.vo.TagVO">
        select t.id, t.name, at.article_id as articleId
        from tag t
        inner join article_tag at on t.id = at.tag_id
        where at.article_id in
        <foreach collection="articleIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="selectArchiveList" resultType="BlogBack.pojo.vo.ArchiveArticleVO">
        select id, title, create_time
        from article
        order by create_time desc
    </select>
</mapper>